<div class="text-center mt-3 mb-3">

    <form>
        <!--to install icons: npm install font-awesome
        add in angular.json inside the style tag: ./node_modules/font-awesome/css/font-awesome.cs
        and run the server again-->
        <i class="fa fa-search mr-1"></i>

        <input
        class="rounded"
        type="search"
        placeholder="search..."
        autofocus
        (keyup)="debounce.next($event.target.value)">
    </form> <!--(keyup) will get this event working together with debounce-->

</div>