<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">ALURAPIC</a>

        <!--pipe async gets the result of the Observable and put it here in the template to be manipulable-->
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="ml-2">{{ user?.name }}</a>
            <a (click)="logout()" class="ml-2">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <!--routerLink needs to import the RouterModule in its module-->
                <a [routerLink]="['']"> Please, login!</a>
            </span>
        </ng-template>
    </nav>

    <div class="fixed-top">
        <app-alert></app-alert>
    </div>
</header>