<header class="fixed-top">
    <nav class="navbar navbar-light bg-white">
        <a class="navbar-brand">
            <!--tabindex="0" to gain focus, (keyup.space) is to able the keyboard bar-->
            <i tabindex="0" (keyup.space)="menu.toggle()" (click)="menu.toggle()" class="fa fa-bars mr-2"></i>
            ALURAPIC
        </a>

        <app-menu #menu>
            <ul class="list-unstyled">
                <li>Menu Item 1</li>
                <li>Menu Item 2</li>
                <li>
                    <a showIfLogged [routerLink]="['p','add']">Upload</a>
                </li>
            </ul>
        </app-menu>

        <!--pipe async gets the result of the Observable and put it here in the template to be manipulable-->
        <div *ngIf="(user$ | async) as user; else login">
            <i class="fa fa-user-circle mr-1"></i>
            <a class="ml-2">{{ user?.name }}</a>
            <a (click)="logout()" class="ml-2">(Logout)</a>
        </div>

        <ng-template #login>
            <span class="navbar-text">
                <!--routerLink needs to import the RouterModule in its module-->
                <a [routerLink]="['']"> Please, login!</a>
            </span>
        </ng-template>
    </nav>

    <div class="fixed-top">
        <app-loading></app-loading>
        <app-alert></app-alert>
    </div>
</header>